#header {
	 background-color: lightblue;
	 height: 50px;
}

#navmenu {
	float: right;
	margin-right: 10px;
}

ul#navmenu {
    padding: 0;
}

ul#navmenu li {
    display: inline;
}

ul#navmenu li a {
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 3px;
}

ul#navmenu li a:hover {
    background-color: white;
}

#userInfo {
	float: left;
	width: 200px;
	height: 100%;
	margin: 14px;
}

#userInfo img {
	float: left;
	width: 30px;
	height: 30px; 
	margin-top: -5px;
}

#userInfo p {
	margin-left: 35px;
}
